[Unit]
Description=Start MT6620_LANCHER daemon
Requires=wifi_loader.service
After=wifi_loader.service

[Service]
Type=simple
ExecStart=/usr/sbin/6620_launcher -b 4000000 -p /lib/firmware/ -d /dev/ttyMT2
ExecStop=

[Install]
Requires=wifi_loader.service
